WebRoot/WEB-INF/classes/1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webs.aisino.com" xmlns:ns1="http://utils.aisino.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://webs.aisino.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webs.aisino.com">
<xsd:element name="createUser">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="xmlStr" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ResultInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.aisino.com">
<xsd:complexType name="ResultInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="createUserRequest">
    <wsdl:part name="parameters" element="tns:createUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="parameters" element="tns:createUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FPServiceAPIPortType">
    <wsdl:operation name="createUser">
      <wsdl:input name="createUserRequest" message="tns:createUserRequest">
    </wsdl:input>
      <wsdl:output name="createUserResponse" message="tns:createUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FPServiceAPIHttpBinding" type="tns:FPServiceAPIPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createUser">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createUserRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FPServiceAPI">
    <wsdl:port name="FPServiceAPIHttpPort" binding="tns:FPServiceAPIHttpBinding">
      <wsdlsoap:address location="http://222.41.113.138:8123/FPService/services/FPServiceAPI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
